body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

  height: 1000px;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

li .task {
  flex-grow: 1;
  margin-right: 10px;
}

li button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button,
.edit-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #ca4141;
}

.edit-button {
  background-color: rgb(54, 119, 204);
}

.delete-button:hover {
  background-color: #ff5555;
}

.edit-button:hover {
  background-color: #0056b3;
}

.navbar {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.navbar-logo {
  flex-grow: 1;
  margin-right: 20px;
}

.navbar-logo a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin-right: 10px;
}

.navbar-links li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 3px;
}

.navbar-links li a:hover {
  background-color: #f2f2f2;
}

.modal-header {
  background-color: #f9f9f9;
  border-bottom: none;
}

.modal-title {
  color: #333;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #545b62;
}

.btn-outline-success {
  background-color: transparent;
  border: 1px solid #28a745;
  color: #28a745;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.fa-trash,
.fa-edit {
  font-size: 16px;
}


.row {
  display: flex;
  width: 100% ;
}

.column {
  flex: 10%;
  height: 100%;
}







.full-calendar {
  width: 900px; /* Adjust the width as needed */
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Header styling */
.fc-header-toolbar {
  background-color: #f0f0f0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  text-align: center;
}

.fc-header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.fc-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
}

.fc-button:hover {
  background-color: #0056b3;
}

/* Event styling */
.fc-event {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.fc-event:hover {
  background-color: #1a732e;
}

/* Day cell styling */
.fc-day-grid-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-day-number {
  font-size: 18px;
  font-weight: bold;
}

.fc-day-grid-event .fc-event-title {
  flex-grow: 1;
  margin-left: 10px;
}

/* Event popover styling */
.fc-popover {
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.fc-popover-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fc-popover-body {
  font-size: 14px;
}