
<body  >

    <nav class="navbar">
        <div class="navbar-logo">
         <h5>  Welcome {{username}}</h5>
        </div>
        <ul class="navbar-links" (click)="userLogout()" >
          <li ><a >Logout</a></li>
        </ul>
      </nav>


      <div class="row">
        <div class="column">

      <!-- GET ALL TODOS-->
  <div class="container">
    <h1>MY TODOs</h1>
    <form id="todo-form">
      
      
      <button type="submit" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addTodo" (click)="openModal()">Add Task</button>
    </form>
    <ul id="todo-list">
      <li *ngFor="let t of todoList, let i = index;" class="todo">
        <div (click)="toggleDone(t)" class="task" [class.done]="t.completed">{{ t.title }}</div>
        <div class="buttons">
              <button class="delete-button" (click)="deleteTodo(t)" title="Delete"><i class="fa fa-trash"></i></button>
              <button   class="edit-button" data-bs-toggle="modal" data-bs-target="#editTodo" (click)="editTodo(t)" (click)="openEditModal()" title="Edit"><i class="fas fa-edit"></i></button>
            </div>
          </li>

      </ul>
  </div>
  </div>
  <div style="margin-left: -60px;" class="column">
  
  <full-calendar class="full-calendar" [options]="calendarOptions"></full-calendar>
  
</div>
</div>

  <!-- Open add modal-->

    <!-- add todo Modal -->
  
    <div class="modal fade" id="addTodo"  tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Todo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
             <form (ngSubmit)="addTodo()" method="post">

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="title" [(ngModel)]="todo.title" name="title" class="form-control" id="title" aria-describedby="">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Description</label>
                  <textarea type="text" [(ngModel)]="todo.description" name="description"  class="form-control" id="desc" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Due Date</label>
                  <input type="date" [(ngModel)]="todo.dueDate" name="dueDate"  class="form-control" id="due_date" aria-describedby="">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Category</label>
                  <input type="title"  [(ngModel)]="todo.category" name="category"  class="form-control" id="title" aria-describedby="">
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Priority</label>
                  <input type="title" [(ngModel)]="todo.priority" name="priority"  class="form-control" id="title" aria-describedby="">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Reminder Date</label>
                  <input type="date" [(ngModel)]="todo.reminderDateTime" name="reminderDateTime"  class="form-control" id="due_date" aria-describedby="">
                </div>
            
            
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>
          </div>
      
        </div>
      </div>
  
     <!-- Open add modal-->

       <!-- Open edit modal-->

    <!-- edit todo Modal -->
  
    <div class="modal fade" id="editTodo"  tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Todo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
<form [formGroup]="todoDetail">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" formControlName="title" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="due_date" class="form-label">Due Date</label>
    <input type="date" formControlName="dueDate" class="form-control" id="dueDate">
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input type="text" formControlName="category" class="form-control" id="category">
  </div>
  <div class="mb-3">
    <label for="priority" class="form-label">Priority</label>
    <input type="text" formControlName="priority" class="form-control" id="priority">
  </div>
  <div class="mb-3">
    <label for="reminder_date" class="form-label">Reminder Date</label>
    <input type="date" formControlName="reminderDateTime" class="form-control" id="reminderDate">
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="updateTodo()"type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</form>

        </div>
      </div>
  
    </div>
  </div>

   <!-- Open edit modal-->
</body>

