<html >
<body  >
 
<div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
       
        <div style="margin-bottom: -16px;"><img style="width: 18px; margin-top: 4px; margin-left: 2px;" src="/assets/img/login-xxl.png"></div><h2>LOGIN</h2>
      </div>
      <div class='box-login'>
      
        <div class='fieldset-body' id='login_form'>
            
          <button (click)="openLogin()" class='b b-form i i-more' title='Mais Informações'>  <img style=" width: 40px; margin-left: -10px;" src="/assets/img/menu.png"></button>
          <form (ngSubmit)="userLogin()" method="post">   
          <p class='field'>
            <label for='user'>USERNAME</label>
            <input type='text' id='user' [(ngModel)]="login.username" name='user' title='Username' />
            <span id='valida' class='i i-warning'></span>
          </p>
              <p class='field'>
            <label for='pass'>PASSWORD</label>
            <input type='password' id='pass' [(ngModel)]="login.password"  name='pass' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
  
            <label class='checkbox'>
              <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in
            </label>
          
              <input type='submit' id='do_login' value='LOGIN' title='Get Started' />
            </form>
            </div>
      </div>
    </div>
    <div class='box-info'>
                          <p><button (click)="closeLogin()" class='b b-info i i-left' title='Back to Sign In'><img style="width: 20px;" src="/assets/img/cross.png"></button><h3>Need Help?</h3>
      
                          <div class='line-wh'></div>
                          <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
      <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
                          <div class='line-wh'></div>
      <button (click)="gotoSignup()" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
                    </div>
  </div>
  
  
   <div class='icon-credits'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> & <a href="http://www.flaticon.com/authors/nice-and-serious" title="Nice and Serious">Nice and Serious</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  
  </body>
   </html>